//klar
$xs-max: 480px;
$sm-min: 576px;
$sm-max: 767.9px;
$md-min: 768px;
$md-max: 991.9px;
$lg-min: 992px;
$lg-max: 1199.9px;
$xl-min: 1200px;
$xxl-min: 1500px;
$xl-max: 1309px;
//klar
$themeBorder_radius: 8px;
$themeBox_shadow: 0 7px 34px 0 rgba(0, 0, 0, 0.07),
  0 11px 34px 0 rgba(0, 0, 0, 0.04);
//klar
$themecolor: #404159;

$theme_text_color_dark: #212529;
$themeHeadingcolor_dark: rgba(43, 44, 59, 0.9);

//klar
$themeLightHeadingcolor: #f7f4f1; //e6efdc; //  #d1fae5; //cfdac8
$themeHeadingcolor: $themeLightHeadingcolor;

//klar
$background_darkgrey: #1a1a1a;
$background_darkgrey_darker: #0d0d0d;

$background_darkgrey_lighter: #262626;

$background_light: $themeLightHeadingcolor;

//klar
$linkcolor: #ff66b3;
$navcolor: #fff;
